<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count and Page Search</title>
</head>
<body>
    <H1>There are {{ page_count }} pages in total.</H1>
    <script>
     function goToPage(event) {
        event.preventDefault();
        var pageId = document.getElementById("pageId").value;
        location.href = "/custom-" + pageId;
     }
    </script>
    <form onsubmit="goToPage(event)">
        <input type="text" id="pageId">
        <button type="submit">Go to Page</button>
    </form>

    <a href='/page-creator'>Back to Page Creator</a>
    <a href='/'>Back to Landing Page</a>
</body>
</html>